.container-content--pexeso {
  margin: auto;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pexeso-images,
.pexeso-letters {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 5px;
  max-width: 170px;
}

.pexeso-item {
  width: 100%;
  height: calc(100% / 3);
  background-color: rgb(218, 218, 218);
  margin: 5px;
  border-radius: 7px;
}

.pexeso-item-selected {
  /* outline: 5px solid black; */
  box-shadow: 0 0 0 5px hsl(0, 3%, 6%);
}

.pexeso-item-paired {
  opacity: 0.5;
  animation: fadeShadow 0.5s ease-out;
}

@keyframes fadeShadow {
  0% {
    box-shadow: 0 0 0 5px hsl(0, 3%, 6%);
  }

  100% {
    box-shadow: none;
  }
}

.pexeso-item-wrong {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both, fadeShadow 0.5s ease-out;
}
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.pexeso-item-successful {
  /* -webkit-animation: rotate-center 1s ease-in-out 2 alternate both;
  animation: rotate-center 1s ease-in-out 2 alternate both; */
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

@media screen and (min-width: 650px) {
  .pexeso-images,
  .pexeso-letters {
    max-height: 600px;
    margin: 5px;
  }

  .pexeso-item {
    width: 100%;
    height: calc(100% / 3);
    background-color: rgb(218, 218, 218);
    border-radius: 7px;
    margin: 5px;
  }
}

@media screen and (min-width: 900px) {
  .pexeso-images,
  .pexeso-letters {
    max-height: none;
    width: 60vw;
    max-width: 700px;
    flex-direction: row;
    margin-bottom: 5px;
  }

  .pexeso-item {
    width: calc(100% / 3);
    height: 100%;
    margin: 0px;
    margin: 0 5px;
  }
  .container-content--pexeso {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
}
