.container-content--pexeso {
  margin: auto;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-content--pexeso .bar-container {
  align-items: flex-start;
}

.pexeso-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
  max-height: 80vw;
}

.pexeso-images,
.pexeso-letters {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pexeso-item {
  height: calc((100% / 3) - 10px);
  background-color: rgb(218, 218, 218);
  border-radius: 7px;
  margin: 5px;
}

.pexeso-item-selected {
  box-shadow: 0 0 0 5px hsl(0, 3%, 6%);
}

.pexeso-item-paired {
  opacity: 0.5;
  animation: fadeShadow 0.5s ease-out;
}

@keyframes fadeShadow {
  0% {
    box-shadow: 0 0 0 5px hsl(0, 3%, 6%);
  }

  100% {
    box-shadow: none;
  }
}

.pexeso-item-wrong {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both, fadeShadow 0.5s ease-out;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.pexeso-item-successful {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 650px) {
  /*   .pexeso-images,
  .pexeso-letters {
    max-height: 600px;
  } */
}

@media screen and (min-width: 900px) {
  .pexeso-items-container {
    flex-direction: column;
    height: 35vh;
    max-height: 80vw;
  }

  .pexeso-images,
  .pexeso-letters {
    height: 50%;
    display: flex;
    flex-direction: row;
  }

  .pexeso-item {
    height: calc(100% - 10px);
  }
}

@media screen and (min-width: 1200px) {
}
