header {
  height: 7vh;
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*   -webkit-box-pack: justify;
  -webkit-justify-content: space-between; */
  /*  -ms-flex-pack: justify; */
  justify-content: space-between;
  /*   -webkit-align-content: center;
  -ms-flex-line-pack: center; */
  align-content: center;
  padding: 0 0.5rem;
}

.header--right,
.header--left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-icon {
  height: 80%;
  min-width: 0;
  min-height: 0;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center; */
  align-items: center;
}

.wrapper:hover,
.wrapper:focus,
.wrapper:active {
  animation: shake 0.4s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (min-width: 650px) {
  header {
    /*     display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; */
    /*   -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify; */
    justify-content: space-between;
    /*   -webkit-align-content: center;
    -ms-flex-line-pack: center; */
    align-content: center;
    height: 10vh;
    padding: 0 1rem;
  }

  .wrapper {
    height: 100%;
  }

  .header-icon {
    height: 80%;
  }

  .wrapper {
    height: 100%;
    /*     display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
