header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.header--right {
  display: flex;
  flex-direction: row;
}
/* #poketacek,
#zvuk,
#home,
#restart {
  width: 20%;
} */
