.container-learning {
  height: calc(100% / 3);
  width: 50vw;
  margin: auto;
  background: rgb(175, 175, 104);
  display: flex;
  justify-content: space-between;
}

.learning-image {
  background-color: rgb(218, 218, 218);
  max-width: 22vh;
  max-height: 22vh;
  border-radius: 50%;
  margin-bottom: 2vh;
}

/* @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(25vh);
    transform: translateY(25vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(35vh);
    transform: translateY(35vh);

    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(25vh);
    transform: translateY(25vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(35vh);
    transform: translateY(35vh);
    opacity: 1;
  }
} */

.slide-in-left {
  /*   -webkit-animation: slide-in-left 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
 */
  animation: slide-in-left 1s /* cubic-bezier(0.25, 0.46, 0.45, 0.94) both */;
  /*   transform-box: border-box;
 */
}

@keyframes slide-in-left {
  0% {
    /*     -webkit-transform: translateX(20vw);
 */
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    /*     -webkit-transform: translateX(30vw);
 */
    transform: translateX(calc(100% - 22vh));
    opacity: 1;
  }
}
