.container-learning {
  /*   position: absolute;
 */
  height: calc(100% / 3);
  width: 60%;
  margin: auto;
}

.learning-image {
  background-color: rgb(218, 218, 218);
  max-width: 22vh;
  max-height: 22vh;
  border-radius: 50%;
}

.container-learning:nth-child(1),
.container-learning:nth-child(2) {
  margin-bottom: 1.5vh;
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
/* @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(25vh);
    transform: translateY(25vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(35vh);
    transform: translateY(35vh);

    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(25vh);
    transform: translateY(25vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(35vh);
    transform: translateY(35vh);
    opacity: 1;
  }
} */

.slide-in-left {
  -webkit-animation: slide-in-left 15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    /*     -webkit-transform: translateX(20vw);
 */
    transform: translateX(-10vw);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(40vw);
    transform: translateX(40vw);
    opacity: 1;
  }
}
