.learn-image {
  width: 15vh;
  height: 15vh;
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
  margin-bottom: 2vh;
}

.slide-in-left {
  animation: narrow 2s;
}

@keyframes narrow {
  0% {
    /*     -webkit-transform: translateX(20vw);
 */
    transform: translateX(-15vh);
    opacity: 0;
  }
  50% {
    /*     -webkit-transform: translateX(30vw);
 */
    transform: translateX(calc(100%-15vh));
    opacity: 1;
  }
}

@media screen and (min-width: 470px) {
  .learn-image {
    width: 20vh;
    height: 20vh;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
    margin-bottom: 2vh;
  }

  .slide-in-left {
    /*   -webkit-animation: slide-in-left 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
 */
    animation: wide 2s /* cubic-bezier(0.25, 0.46, 0.45, 0.94) both */;
    /*   transform-box: border-box;
 */
  }

  @keyframes wide {
    0% {
      /*     -webkit-transform: translateX(20vw);
 */
      transform: translateX(-20vh);
      opacity: 0;
    }
    50% {
      /*     -webkit-transform: translateX(30vw);
 */
      transform: translateX(calc(100% - 20vh));
      opacity: 1;
    }
  }
}

@media screen and (min-width: 1200px) {
  .learn-image {
    max-width: 22vh;
    max-height: 22vh;
  }
}
