.container-content {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.container-content a {
  display: flex;
  justify-content: center;
}

#poketacek-learn,
#poketacek-play {
  height: 30vh;
  min-width: 0;
  min-height: 0;
}

@media screen and (min-width: 650px) {
  .container-content {
    height: 84vh;
    flex-direction: row;
    justify-content: center;
  }
  .container-content a {
    height: 100%;
    justify-content: center;
    background-color: green;
  }

  #poketacek-learn,
  #poketacek-play {
    width: 50vw;
  }
}
/* 
@media screen and (min-width: 900px) {
  .content-container {
    height: 80vh;
  }
}

@media screen and (min-width: 1200px) {
}
  */
