.container--home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 82vh;
}

#poketacek-learn,
#poketacek-play {
  height: 30vh;
}

@media screen and (min-width: 768px) {
  .container--home {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
  }

  #poketacek-learn,
  #poketacek-play {
    height: 35vh;
  }
}

/* 
@media screen and (min-width: 1026px) {
}

*/
