.container-content {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.container-content a {
  padding: 2vh;
  display: flex;
  justify-content: center;
}

#poketacek-learn,
#poketacek-play {
  height: 30vh;
  min-width: 0;
  min-height: 0;
}

@media screen and (min-width: 650px) {
  .container-content {
    height: 84vh;
    flex-direction: row;
    justify-content: center;
  }

  .container-content a {
    padding: 0;
    height: 100%;
    width: 75vw;
    min-width: 30vh;
    flex-direction: row;
    justify-content: flex-start;
  }

  .container-content a:first-child {
    justify-content: flex-end;
  }

  #poketacek-learn,
  #poketacek-play {
    height: 100%;
    max-width: 420px;
  }
}
/* 
@media screen and (min-width: 900px) {
}
*/

/* @media screen and (min-width: 1200px) {
}
 */
