.container-content--home {
  margin: auto;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-content--home a {
  padding: 2vh 0;
  width: 70vw;
  height: 40vh;
  max-width: 60vh;
  max-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#poketacek-learn,
#poketacek-play {
  min-width: 0;
  min-height: 0;
  width: 90%;
  height: 90%;
}

@media screen and (min-width: 650px) {
  .container-content--home {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .container-content--home a {
    padding: 0 3rem;
    width: 45vw;
    height: 60vh;
    max-width: 60vh;
    max-height: 60vh;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .container-content--home a:nth-child(2) {
    justify-content: flex-start;
  }

  #poketacek-learn,
  #poketacek-play {
    max-width: 400px;
    max-height: 400px;
    width: 80%;
    height: 80%;
  }
}
/* 
@media screen and (min-width: 900px) {
}
*/

/* @media screen and (min-width: 1200px) {
}
 */
