.target {
  display: flex;
}

.target img {
  align-items: center;
  width: 300px;
  position: center;
  margin: auto;
  border-radius: 50%;
}

.target--unsuccessful {
  animation: shake 0.5s;
}

.target--successful {
  -webkit-animation: rotate 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.options-container {
  padding-top: 100px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.option-container {
  width: 33%;
}

.option {
  width: 200px;
  height: 200px;
  display: flex;
  background-color: rgb(22, 221, 224);
  margin: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.option img {
  width: 200px;
}
