.target {
  display: flex;
}

.target img {
  align-items: center;
  width: 300px;
  position: center;
  margin: auto;
  border-radius: 50%;
}

.options-container {
  padding-top: 40px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.option {
  width: 150px;
  height: 150px;
  display: flex;
  background-color: rgb(224, 220, 220);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.option img {
  width: 100px;
}
