.container-content--dnd {
  background-color: yellow;
  margin: auto;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
