footer {
  width: 100vh;
  color: #242422;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8vh;
  background-color: grey;
}

.footer-container {
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #242422;
}

@media screen and (min-width: 768px) {
  footer {
    height: 8vh;
    background-color: rgb(187, 124, 124);
  }

  .footer-container {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1026px) {
  footer {
    background-color: rgb(136, 202, 179);
  }
}
