.bar-container {
  width: 70vw;
  max-width: 500px;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: tomato;
}

.bar {
  height: 3px;
  flex-grow: 1;
  background-color: rgb(186, 186, 186);
  border-left: solid 10px white;
}

.bar-done {
  background-color: black;
}
