.bar-container {
  width: 1000px;
  height: 3px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 100px;
}

.bar {
  flex-grow: 1;
  background-color: rgb(186, 186, 186);
  border-left: solid 10px white;
}

.bar-done {
  background-color: black;
}
