.bar-container {
  width: 800px;
  height: 5px;
  margin: auto;
  display: flex;
  background-color: gray;
  justify-content: space-between;
  flex-direction: row;
}

.bar {
  flex-grow: 1;
  background-color: red;
  border-left: solid 5px white;
}

.bar-done {
  background-color: blueviolet;
}
