.learn-items {
  margin: auto;
  width: 100vw;
  height: 70vh;
}

.arrows-container {
  height: 12vh;
  width: 100vw;
  margin: auto;
  display: flex;
}

#arrow-right,
#arrow-left {
  min-height: 0;
  min-width: 0;
  height: 9vh;
}

.arrow-container--left,
.arrow-container--right {
  width: 50%;
  display: flex;
  margin: auto;
}

.arrow-container--left {
  justify-content: flex-end;
}

.arrow-container--right {
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .arrows-container {
    height: 10vh;
  }
}
