.learn-items {
  margin: auto;
  width: 100vw;
}

.arrows-container {
  height: 12vh;
  width: 100%;
  margin: auto;
  display: flex;
  background: cornflowerblue;
}

#arrow-right,
#arrow-left {
  height: 9vh;
}

.arrow-container--left,
.arrow-container--right {
  width: 400px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.arrow-container--left {
  justify-content: flex-end;
}

.arrow-container--right {
  justify-content: flex-start;
}
