.container-content {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.container-content a {
  display: flex;
  justify-content: center;
}

.picture-letter-icon,
.pexeso-icon {
  height: 30vh;
  min-width: 0;
  min-height: 0;
}

@media screen and (min-width: 650px) {
  .container-content {
    height: 84vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container-content a {
    justify-content: center;
    align-items: center;
  }

  .container-content:first-child {
    justify-content: flex-end;
    align-items: flex-end;
    background-color: aqua;
  }

  .container-content:last-child {
    justify-content: center;
    align-items: center;
  }

  .picture-letter-icon,
  .pexeso-icon {
    height: 40vh;
  }
}
/* 
@media screen and (min-width: 900px) {
  .content-container {
    height: 80vh;
  }
}

@media screen and (min-width: 1200px) {
}

 */
