.container--play {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 82vh;
}

.picture-letter-icon,
.pexeso-icon {
  height: 30vh;
}

@media screen and (min-width: 768px) {
  .container--play {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
  }

  .picture-letter-icon,
  .pexeso-icon {
    height: 35vh;
  }
}

/* 
@media screen and (min-width: 1026px) {
}

*/
