.container-content {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.picture-letter-icon,
.pexeso-icon {
  height: 30vh;
  min-width: 0;
  min-height: 0;
}
/* 
@media screen and (min-width: 600px) {
  .container-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
  }

  .picture-letter-icon,
  .pexeso-icon {
    height: 35vh;
  }
}

@media screen and (min-width: 900px) {
  .content-container {
    height: 80vh;
  }
}

@media screen and (min-width: 1200px) {
}
 */
